<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.kylen.koj.mapper.SubmissionMapper">

    <resultMap id="BaseResultMap" type="fun.kylen.koj.domain.Submission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="problemDisplayId" column="problem_display_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="verdict" column="verdict" jdbcType="INTEGER"/>
        <result property="verdictIndex" column="verdict_index" jdbcType="INTEGER"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="INTEGER"/>
        <result property="memory" column="memory" jdbcType="INTEGER"/>
        <result property="oiScore" column="oi_score" jdbcType="INTEGER"/>
        <result property="length" column="length" jdbcType="INTEGER"/>
        <result property="groupId" column="group_id" jdbcType="BIGINT"/>
        <result property="contestId" column="contest_id" jdbcType="BIGINT"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isManual" column="is_manual" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,problem_id,problem_display_id,
        user_id,username,submit_time,
        language,code,verdict,verdict_index
        error_message,time,memory,
        oi_score,length,group_id,
        contest_id,ip,version,
        is_manual,create_time,update_time
    </sql>


    <resultMap id="submissionList" type="fun.kylen.koj.model.vo.SubmissionListVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="problemDisplayId" column="problem_display_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="verdict" column="verdict" jdbcType="INTEGER"/>
        <result property="verdictIndex" column="verdict_index" jdbcType="INTEGER"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="time" column="time" jdbcType="INTEGER"/>
        <result property="memory" column="memory" jdbcType="INTEGER"/>
        <result property="oiScore" column="oi_score" jdbcType="INTEGER"/>
        <result property="length" column="length" jdbcType="INTEGER"/>
        <result property="isManual" column="is_manual" jdbcType="TINYINT"/>
        <association property="title" javaType="string" select="getTitleByProblemId" column="problem_display_id"/>
    </resultMap>

    <select id="listSubmissionByPage" resultMap="submissionList">
        select s.id,s.problem_id,s.problem_display_id,s.user_id,s.username,s.submit_time,s.language,s.verdict,s.error_message,s.time,s.memory,s.oi_score,s.length,s.is_manual
        from submission s
        <where>
            <if test="problemId != '' and problemId != null">
                s.problem_id = #{problemId}
            </if>
            <if test="problemDisplayId != '' and problemDisplayId != null">
                and s.problem_display_id = #{problemDisplayId}
            </if>
            <if test="userId != '' and userId != null">
                and s.user_id = #{userId}
            </if>
            <if test="username != '' and username != null">
                and s.username = #{username}
            </if>
            <if test="language != '' and language != null">
                and s.language = #{language}
            </if>
        </where>
        order by s.submit_time desc
    </select>

    <select id="getTitleByProblemId" resultType="string">
        select title
        from problem
        <where>
            <if test="problemDisplayId != '' and problemDisplayId != null">
                problem_display_id = #{problemDisplayId}
            </if>
        </where>
    </select>
</mapper>
