<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.kylen.koj.mapper.SubmissionMapper">

    <resultMap id="BaseResultMap" type="fun.kylen.koj.domain.Submission">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
        <result property="problemDisplayId" column="problem_display_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="language" column="language" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="verdict" column="verdict" jdbcType="INTEGER"/>
        <result property="runMessage" column="run_message" jdbcType="VARCHAR"/>
        <result property="runTime" column="run_time" jdbcType="INTEGER"/>
        <result property="runMemory" column="run_memory" jdbcType="INTEGER"/>
        <result property="length" column="length" jdbcType="INTEGER"/>
        <result property="ip" column="ip" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="isManual" column="is_manual" jdbcType="TINYINT"/>
        <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,problem_id,problem_display_id,
        user_id,username,language,
        code,verdict,run_message,
        run_time,run_memory,length,
        ip,version,is_manual,
        submit_time,create_time,update_time
    </sql>
</mapper>
