<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.kylen.kojservice.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="fun.kylen.kojservice.model.domain.UserInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
            <result property="course" column="course" jdbcType="VARCHAR"/>
            <result property="studentNumber" column="studentNumber" jdbcType="VARCHAR"/>
            <result property="realname" column="realname" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="githubUsername" column="githubUsername" jdbcType="VARCHAR"/>
            <result property="githubId" column="githubId" jdbcType="VARCHAR"/>
            <result property="blogUrl" column="blogUrl" jdbcType="VARCHAR"/>
            <result property="cfUsername" column="cfUsername" jdbcType="VARCHAR"/>
            <result property="leetcodeUsername" column="leetcodeUsername" jdbcType="VARCHAR"/>
            <result property="nowcoderId" column="nowcoderId" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="titleName" column="titleName" jdbcType="VARCHAR"/>
            <result property="titleColor" column="titleColor" jdbcType="VARCHAR"/>
            <result property="userStatus" column="userStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,userPassword,
        email,qq,nickname,
        school,course,studentNumber,
        realname,gender,githubUsername,
        githubId,blogUrl,cfUsername,
        leetcodeUsername,nowcoderId,avatar,
        signature,titleName,titleColor,
        userStatus,createTime,updateTime,
        deleted
    </sql>
</mapper>
